<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials/head.html :: head ('View Post')}"></head>
<body>
    <div class="page-wrapper">
        <nav th:insert="~{/partials/nav.html :: nav}">

        </nav>
        <div class="container justify-center grow">
            <div class="row justify-center">
                <div class="container shrink">
                    <h1>Post</h1>
                    <div>
                        <h2 th:text="${post.title}"></h2>
                        <p th:text="${post.body}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>