<nav th:fragment="nav">
    <div class="container grow navbar">
        <div class="row home-button">
            <div class="column shrink">
                <a class="nav-link" th:href="@{http://localhost:8080/index}"><p>Home</p></a>
                <a class="nav-link" th:href="@{http://localhost:8080/profile}"><p>Profile</p></a>
                <a class="nav-link" th:href="@{http://localhost:8080/create}"><p>Create Post</p></a>
            </div>
        </div>
        <div class="row login-button">
            <div class="column login shrink">
                <a class="nav-link" th:href="@{http://localhost:8080/login}"><p>Login</p></a>
                <a class="nav-link" th:href="@{http://localhost:8080/register}"><p>Sign Up</p></a>
                <form th:method="post" th:action="@{/logout}">
                    <button type="submit" class="logoutButton">Logout</button>
                </form>
            </div>
        </div>
    </div>
</nav>