<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="~{partials/head :: header (Profile)}"></head>
<body>
    <div class="page-wrapper">
        <nav th:replace="~{partials/nav :: nav}"></nav>
        <div class="container justify-center grow">
            <div class="row justify-center">
                <div class="column shrink">
                    <h1>Welcome, <span sec:authentication="principal.username"></span></h1>
                    <h2>Your profile</h2>
                    <form th:action="@{/profile}" th:method="post">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" th:value="${user.email}"><br>
                        <input type="submit" value="Change">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>